.container {
  margin-bottom: 0px;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  background-color: #daeee5;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

h1 {
  padding: 20px;
  font-size: 30px;
  color: deepskyblue;
  font-weight: bolder;
}

h2 {
  width: 70vw;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px black dotted;
  font-size: 15px;
}

h3 {
  background-color: azure;
  padding: 10px;
  width: 70vw;
  text-align: center;
}

.navbar{
  width: 100vw;
  min-height: 0px;
  margin: 0px 15px 20px;
  text-decoration: none;
  list-style: none;
  text-align: center;
  background-color: powderblue;
}

.navbar-menu {
  background-color: powderblue;
}

.navbar-brand {
  padding: 0px 20px;
}

.nav-item {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.nav-link {
  text-decoration: none;
  padding: 0px 40px;
  text-align: center;
}

.nav-item:hover .nav-link:hover {
  color: white;
}

.nav-link:visited {
  color: black;
}

.options {
  margin-right: 10px;
  font-size: 18px;
  color: darkred;
  font-weight: bold;
  text-transform: uppercase;
}

.answer {
  background-color: azure;
  margin-top: 15px;
  padding: 20px;
  width: 70vw;
  position: relative;
  font-family: inherit;
  border: 2px black solid;
  box-shadow: none;
}

.answer:hover {
  background-color: white;
  cursor: pointer;
}

.answer.selected {
  background-color: aquamarine;
}

.submit {
  width: 25vw;
  margin: 15px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  background-color: palegoldenrod;
  border: 2px black solid;
}

.submit:hover {
  cursor: pointer;
}

.error {
  color: tomato;
  font-family: Impact;
  margin-top: 15px;
}

.correct {
  color: gold;
  font-weight: bold;
}

.incorrect {
  color: tomato;
  font-weight: bold;
}