.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #daeee5;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  color: deepskyblue;
  font-weight: bolder;
}

h3 {
  background-color: azure;
  padding: 10px;
  width: 70vw;
  text-align: center;
}

.options {
  margin-right: 10px;
  font-size: 18px;
  color: darkred;
  font-weight: bold;
  text-transform: uppercase;
}

.answer {
  background-color: azure;
  margin-top: 15px;
  padding: 20px;
  width: 70vw;
  position: relative;
  font-family: inherit;
  border: 2px black solid;
  box-shadow: none;
}

.answer:hover {
  background-color: white;
  cursor: pointer;
}

.answer.selected {
  background-color: aquamarine;
}

.submit {
  width: 25vw;
  margin: 15px;
  padding: 10px;
  font-family: inherit;
  font-weight: bold;
  background-color: palegoldenrod;
  border: 2px black solid;
}

.submit:hover {
  cursor: pointer;
}

.error {
  color: tomato;
  font-family: Impact;
  margin-top: 15px;
}