.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #daeee5;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  color: coral;
  font-weight: bolder;
}

h3 {
  background-color: azure;
  padding: 10px;
  width: 500px;
  text-align: center;
}

.answer {
  background-color: azure;
  margin-top: 15px;
  padding: 20px;
  width: 500px;
  position: relative;
  font-family: inherit;
  border: 2px black solid;
  box-shadow: none;
}

.options {
  margin-right: 10px;
  font-size: 18px;
  color: darkred;
  font-weight: bold;
}

.submit {
  margin: 15px;
  padding: 10px;
  font-family: inherit;
  width: 250px;
  background-color: coral;
  border: 2px black solid;
}